extends layout

block styles
  link(rel="stylesheet", href="/productStyle.css") 

block content
  .container
    .column
      img.product-img(src=productImage alt=productName)
    .column.description
      h2= productName
      p= productDescription
    .column.buying
      label(for='quantity') Quantity:
      input#quantity(type='number' name='quantity' value='1' min='1')
      
      label(for='customization') Customization:
      input#customization(type='text' name='customization' placeholder='custom dream')

      label Price:
      p.price-text $#{productPrice}

      button(type='button') Add to Cart
