extends layout

block styles
  link(rel="stylesheet", href="/shopingcart.css")

block content
  h1 Your Shopping Cart

  if shopingcart && shopingcart.length
    .cart-container
      table.shopingcart-table
        thead
          tr
            th Product
            th Price
            th Quantity
            th Total
            th Remove
        tbody
          each item in shopingcart
            tr
              td
                img.shopingcart-item-img(src=item.image, alt=item.name)
                | #{item.name}
              td $#{item.price.toFixed(2)}
              td
                form(method="POST", action="/shopingcart/update")
                  input(type="hidden", name="productId", value=item.id)
                  input(type="number", name="quantity", min="1", value=item.quantity, required)
                  button(type="submit") Update
              td $#{(item.price * item.quantity).toFixed(2)}
              td
                form(method="POST", action=`/shopingcart/remove`)
                  input(type="hidden", name="productId", value=item.id)
                  button(type="submit") ✖
      h3.cart-total Total: $#{shopingcart.reduce((sum, i) => sum + i.price * i.quantity, 0).toFixed(2)}
      a.checkout-btn(href="/checkout") Proceed to Checkout
  else
      .empty-cart
        div.empty-cart-emoji 🛒        
        h2 Your cart is empty!
        p Looks like you haven't added anything yet.
        a.btn(href="/") Continue Shopping
