extends layout

block content
  h1 Welcome to the DreamStore
  .product-grid
    each product in products
      .product-card
        a(href=`/product/${product.id}`)
          img(src=product.image, alt=product.name)
          h3= product.name
          p $#{product.price}
